
.login-signup-container {
	display: flex;
	flex-direction: row;
	overflow: hidden;
	background-color: white;
	background-image: url('../assets/greenpurple.png');
	background-repeat: no-repeat;
	background-size: cover;
	height: 92vh;
	opacity: 1;
	
}

div.login-signup-card  {
	margin-top: 1em;
	border-radius: 10px 40px 10px 40px;
	vertical-align: middle;
	background: linear-gradient(to bottom, var(--lightgreen), var(--mywhite));
	opacity: 0.9;
	text-align: center;
}

div.card-body {
	padding: 0em;
}

div.fade.alert.alert-danger.show {
	padding: 0rem;
	margin-bottom: 0rem;
}

.form-label {
	/* justify-content: space-evenly; */
	padding: 10px 10px 10px 0px;
}

input.input-submit, input.login-btn, .delete-profile-btn {
	margin-top: 10px;
	background-color: var(--deeppurple);
  color: var(--mywhite);
  border-radius: 18px;
  font-size: 16px;
}

.form-toggle {
	padding-top: 15px;
	font-size: smaller;
	color: var(--deeppurple)
}