.home-container {
  padding: 30px 12px 0px 12px;
  margin: 8px;
}

.home-col {
  border: 1px;
  border-style: groove;
  border-color: var(--deeppurple);
  border-radius: 5px;
  overflow: scroll;
  height: 100vh;
  text-align: center;
}

.ingredients-btns {
  /* justify-content: space-evenly; */
  display: inline-block;
  margin: 5px;
  padding: 8px;
  border-radius: 4px;
  font-size: 12px;
  line-height: 15px;
  text-decoration: none;
  color: var(--deeppurple);
  background-color: var(--lightgreen)
}

.ingredients-btns-active {
  /* justify-content: space-evenly; */
  display: inline-block;
  margin: 5px;
  padding: 8px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  text-decoration: none;
  background-color: var(--deeppurple);
  color: rgb(167, 170, 170);
  font-weight: bolder;
}
.ingred-span{
  text-align: center;
}

.card-border.card {
  border: 1px;
  border-style: groove;
  border-color: var(--deeppurple);
  border-radius: 5px;
  margin: 20px 0px 20px 0px;
  text-align: center;
}

.headers.card-header {
  font-weight: bolder;
  background-color: var(--lightgreen)
}

.recipe-headers.card-header {
  font-weight: bolder;
  background-color: var(--lightgreen);
  min-height: 70px
}

img.card-img-top {
  padding: 8px 8px 0px 8px;
}

p.missed-ingredients.card-text{
  margin-bottom: 1px;
  font-size: 10px;
}

a.missed-ingredients {
  text-decoration: none;
  list-style: none;
  color: var(--deeppurple);
}

.recipe-ul {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 12px;
}

.my-pantry {
  font-weight: bolder;
  font-size: 20px;
  color: var(--deeppurple);
  padding-bottom: .6em;
}

.show-btn {
  float: right;
}

.recipes-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.redirect-to-recipe {
  float: right;
}

p {
  font-size: 15px;
}